name: sbc
services:
  redis:
    image: redis:7.2-rc1-alpine
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server --save 20 1 --loglevel verbose --include /usr/local/etc/redis/redis.conf
volumes:
  redis-data:
