server:
  port: 8082
  servlet.context-path: /chat
spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties.hibernate.globally_quoted_identifiers: true
  data.redis:
    database: 0
    hostname: localhost
    port: 6379
    timeout: 10000

sbc.cache.serialize-as-json: true